.order-history {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.order-history h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.orders {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-card {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    align-items: center;
}

.order-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.order-card p {
    margin: 5px 0;
    color: #333;
}

.order-card ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.order-card ul li {
    margin: 5px 0;
    color: #333;
    text-align: center;
}

.order-card strong {
    color: #333;
}

.back-button {
    position: absolute;
    top: 90px; /* Adjusted to add margin from the top */
    left: 10px;
    padding: 10px 20px;
    background-color: #FFFDD0;
    color: #7d3f98;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
<<<<<<< HEAD
    background-color: #d2cc50;
=======
    background-color: #e5dc30;
>>>>>>> 183408a277017324bde4f69282c2e01ae2d6ee54
}

.scroll-to-bottom-button {
    position: fixed;
    bottom: 20px;
    right: 80px; /* Adjusted to avoid overlapping with the back-to-top button */
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.scroll-to-bottom-button:hover {
    background-color: #218838;
}